<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>

        <style>
            .nav-active {
                font-weight: 700;
            }
        </style>
    </head>
    <body>
   
    {% block content %} {% endblock %}
    </body>
</html>