{% extends 'layouts/app.twig' %}

{% block content %}
    <form action="{{ url_for('contact') }}" method="post">
        <input type="text" name="name" id="name">
        <button type="submit">Send</button>
    </form>

    Posted name = {{ name }}
{% endblock %}